.control__link {
    font-size: 30px;
    font-weight: 300;
    font-family: "Raleway", sans-serif;
    color: var(--main-white);
    & > .underline {
      margin-top: 10px;
      height: 10px;
      background-color: var(--main-white);
    }
  }
  
  @media (max-width: 900px) {
    .control__container {
      flex-direction: column;
      justify-content: space-around;
    }
  }