.feedback__container {
    height: 300px;
    overflow: hidden;
    min-width: 650px;
}

@media (max-width: 1264px) {
    .feedback__container {
        height: 350px;
    }
  }

@media (max-width: 946px) {
    .feedback__container {
        height: 750px;
    }
}